.comments {
  padding: 20px;
  display: flex;
  flex-direction: column;
  .comments__container {
    flex-direction: column;
    .comments__quantity {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 20px 0px;
      // background-color: red;
      .comments__qty {
        padding-right: 20px;
      }
      .comments__sort {
        display: flex;
        align-items: center;
      }
    }
  }
  .comments__input-container {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    .comments__img {
      // background-color: green;
      // width: 15%;
      padding-right: 15px;
      img {
        width:50px;
        border-radius: 50%;
      }

    }
    .comments__input {
      width: 100%;
      // background-color: red;
      border-bottom: 2px solid gray;
      input {
        padding: 5px 0px;
        background: transparent;
        color: gray;
        font-weight: 600;
        border: none;
        width: 100%;
        // outline: none;
        &:focus  {
          outline: none;
          // border: none;
        }
      }

    }
  }
  .comments__items-section {
    .comments__items {
      
    }
  }
}

@media only screen and  (min-width: 500px) {
  .comments {
    padding: 20px 10px;
  }
}