.recommended {
  // background-color: green;
  // height: 100%;
  padding: 0px;
  // margin: 0;
  margin-top: 10px;

  .recommended__container {

  }
  .recommended__contents {
    height: 900px;
    background-color: pink;
  }
}
  