.history__container {
  /* 80% */
  display: flex;
  flex-wrap: wrap;
  background-color: #161414;
  padding: 40px 0px;
  justify-content: space-evenly;
  height: 100%;
  h2 {
    margin-left: 5px;
    margin-bottom: 20px;
  }
  .history__left-outer {
    // background-color: rebeccapurple;

    .history__videos-container {
      margin: 10px;
      width: 100%;
      
      .history__videos {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));    
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      grid-gap: 10px;
      grid-row-gap: 10px;
        // padding-bottom: 20px;
        // background-color: rgb(29, 29, 29);
      //  align-content: left;
      // margin: 10px;

      .history-card__container {
        // margin: 20px;
        .history-card__thumbnail {
          
        }
        .history-card__info {

        }
        .history-card__text {

        }
      }
    
     }
    }
  }
  
  .history__right-container {
    background-color: rgb(88, 82, 82);
    width: 100%;
    height: 400px;
  }
}