.library__container {
  /* 80% */
  background-color: #161414;
  padding: 40px 0px;
  padding-bottom: 0;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // .library__flex-container {

  // }
  .library__profile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .library__history-container {
    // background-color: rgb(34, 34, 34);
    width: 60%;
    height: 50%;
    padding: 0;
    margin: 0;
    .library__heading {
      display: flex;
      align-items: center;
      // font-size: 2em;
      color: white;
      padding: 20px 10px;
      span {
        color: rgb(172, 172, 172);
        font-size: 1.5em;
        margin-top: 7px;
      }
      p {
        margin-left: 10px;
        font-weight: 600;
        font-size: 1.5em;
      }
    }

    .library__recent-container {
      height: 100%;
      display: grid;
      grid-gap: 20px;
      padding: 40px 0px;
      // grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
      width: 100%;
      .library__recent-subs {
        // background-color: rgb(56, 55, 55);
        width: 100%;
        height: 100%;
        .library__subs {
          background-color: rgb(255, 255, 255);
          padding: 10px 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          width: 200px;

        }
        .library__subs-children {
          display: grid;
          grid-gap: 10px;
          padding: 40px 0px;
          grid-template-columns: repeat( auto-fit, minmax(130px, 1fr) );
          // display: flex;
          // justify-content: center;
          // flex-wrap: wrap;
          // align-items: center;
          // overflow: hidden;
          // width: 100%;
          .library__subs-child {

            cursor: pointer;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: rgb(255, 255, 255);
            // border-radius: 50%;
            margin: 1px;
            border: 1px solid white;
            // border: 1 solid rgb(255, 9, 9);
            // width: 45px;
            // height: 100%;
            width: 100%;
            // max-width: 100%;
            height: 120px;
            span {
              color: crimson;
              background-size: 100% 100%;
            }
          }
          .library__subs-child:nth-child(1) {
            background-image: url("");
          }
          .library__subs-child:nth-child(2) {
            background-image: url("");
          }
          .library__subs-child:nth-child(3) {
            background-image: url("");
          }
          .library__subs-child:nth-child(4) {
            background-image: url("");
          }
          .library__subs-child:nth-child(5) {
            background-image: url("");
          }
          .library__subs-child:nth-child(6) {
            background-image: url("");
          }
          .library__subs-child:nth-child(7) {
            background-image: url("");
          }
          .library__subs-child:nth-child(8) {
            background-image: url("");
          }
          .library__subs-child:nth-child(9) {
            background-image: url("");
          }
          .library__subs-child:nth-child(0) {
            background-image: url("");
          }
          .library__subs-child:nth-child(11) {
            background-image: url("");
          }
        }
      }
      .library__recent-uploads {
        // background-color: rgb(94, 255, 0);
        // width: 50%;
        height: 100%;
        .library__uploads {
          border-radius: 50px;
          background-color: rgb(255, 255, 255);
          padding: 10px 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 200px;
          
        }
        .library__uploads-children {
          display: grid;
          grid-gap: 10px;
          padding: 40px 0px;
          grid-template-columns: repeat( auto-fit, minmax(130px, 1fr) );
          .library__uploads-child {
            cursor: pointer;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: rgb(255, 255, 255);
            border: 1px solid white;

            // border-radius: 50%;
            margin: 1px;
            // border: 1 solid rgb(255, 9, 9);
            // width: 45px;
            // height: 100%;
            width: 100%;
            height: 120px;
            span {
              color: rgb(22, 243, 107);
              background-size: 100% 100%;
            }
          }
        }
      }
      .library__recent-likes {
        // background-color: rgb(0, 132, 255);
        // width: 50%;
        height: 100%;
        .library__likes {
          background-color: rgb(255, 255, 255);
          padding: 10px 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          width: 200px;
          
        }
        .library__likes-children {
          display: grid;
          grid-gap: 10px;
          padding: 40px 0px;
          grid-template-columns: repeat( auto-fit, minmax(130px, 1fr) );
          .library__likes-child {
            cursor: pointer;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: rgb(255, 255, 255);
            border: 1px solid rgb(213, 211, 211);

            // border-radius: 50%;
            margin: 1px;
            // border: 1 solid rgb(255, 9, 9);
            // width: 45px;
            // height: 100%;
            width: 100%;
            height: 120px;
            span {
              color: rgb(255, 255, 255);
              background-size: 100% 100%;
            }
          }
        }
      }
    }
  }

  .library__avatar-info {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    width: 200px;
    height: 100%;
    padding: 0px 20px;
    .library__image {
      // background-color: red;
      padding: 20px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        border-radius: 50%;
        width: 70px;
      }
      span {
        color: white;
        padding-top: 10px;
        font-size: 0.8em;
      }
    }
    .library__ul {
      color: white;
      // background-color: gray;
      display: flex;
      // justify-content: center;
      // height: 180px;
      flex-direction: column;
      padding: 0;
      margin: 0;
      ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          padding: 0px 3px;
          font-size: 0.8em;

        }
      }
      ul:nth-child(1) {
        // background-color: rgb(0, 255, 34);
        border-top: 1px solid gray;
        padding: 10px 0px;
      }
      ul:nth-child(2) {
        // background-color: RED;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        padding: 10px 0px;

      }
      ul:nth-child(3) {
        // background-color: rgb(255, 0, 242);
        border-bottom: 1px solid gray;
        padding: 10px 0px;


      }
    }
  }
  .library__video-container {
    padding: 20px 10px;
    width: 100%;
    height: 100%;
    // background-color: red;
    a {
      text-decoration: none;
    }
    .library__videos {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));    
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 100%;
      height: 100%;
      // padding: 5px;
      // margin: 2px;
      height: 100%;
      display: grid;
      flex-direction: column;
      grid-gap: 10px;
      grid-row-gap: 10px;
      overflow: hidden;
      
    }
    .library-card__container {
      background-color: rgb(39, 39, 39);
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin: 0px 0px;
      .library-card__thumbnail {
        overflow: hidden;
        width: 100%;
        height: 200px;
        
        img {
          object-fit: cover;
          width: 100%;
          // width: 100%;
          height: 100%;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
        
      }
      .library-card__info {
        // padding: 10px;
        width: 100%;
        color: white; 
        p {
          height: 30px;
          padding: 10px;
          font-size: 1em;
          margin-bottom: 5px;
          color: rgb(255, 255, 255);
             overflow: hidden;
           text-overflow: ellipsis;
           display: -webkit-box;
           -webkit-line-clamp: 1; /* number of lines to show */
           -webkit-box-orient: vertical;
        }
        
      }
      .library-card__text {
        color: rgb(170, 170, 170);
        padding: 10px;
        font-size: 0.9em;
        .library-card__channel-icon {
          display: flex;
          // justify-content: center;
          align-items: center;
          svg {
            margin-top: 6px;
            margin-left: 3px;
            font-size: 1.2em;
          }
          p:nth-child(2) {
            font-size: 0.9em;
          }
        }
        p:nth-child() {
          font-size: 0.9em;
        }
      }
    }
  }
}