.sidebar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #15171c;
  color: white;
  .sidebar__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-right: 100px;
    .sidebar__area {
      position: relative;
      display: inline-block;
      float: right;
    }
    .sidebar__profile-area {
      margin-right: 30px;
    }
    .sidebar__menu {
      justify-content: center;
      align-items: center;
      display: none;
      position: absolute;
      background-color: #15171c;
      padding-top: 10px;
      margin-left: 5px !important;
      // min-width: 150px;
      z-index: 100000;
    }
    .sidebar__menu a {
      color: rgb(255, 255, 255);
      padding: 0px 5px;
      padding-top: 4px;
      text-decoration: none;
      display: block;
      transition: .9s;
    }
    .sidebar__menu a:hover {
      background-color: crimson;
      color: #fff;
    }
    .sidebar__area:hover .sidebar__menu {
      display: block;
    }
  }
}

