.sidebar__container {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  background: #15171c;
  color: white;
  // overflow: hidden;
  
  // padding: 0px;
  // margin: 0px;
  height: 70px;
  .sidebar__left-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    // justify-content: center;
    height: 100%;
    .sidebar__bars-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      .sidebar__bars {
        font-size: 30px;
        margin-top: 15px;
      }
    }
    .sidebar__youtube-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .sidebar__youtube-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 40px;
        margin-top: 10px;
        margin-left: -10px;
      }
    }
  }
  
  .sidebar__profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -15px;
    z-index: inherit;

    .sidebar__sub-menu {
      a {
        color: white;
        font-size: 2em;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
        &:hover {
          color: #ffc107;
        }
      }
    }
    .sidebar__area {
      position: relative;
      display: inline-block;
      // justify-content: center;
      // align-items: center;
      float: right;
    }
    .sidebar__profile-area {
      margin-right: 40px;
      cursor: pointer;
      // height: 100px;
    }
    .sidebar__menu {
      width: 320px;
      justify-content: center;
      align-items: center;
      display: none;
      position: absolute;
      background-color: #15171c;
      // background-color: red;
      // height: 300px;
      // padding-top: 10px;
      padding: 10px 0px;
      margin-top: -40px;
      margin-left: -270px !important;
      border-left: 0.5px solid #202229;
      border-right: 0.5px solid #202229;
      border-bottom: 0.5px solid #202229;

      // min-width: 150px;
      z-index: 100000;

      .sidebar__account {
        display: flex;
        // flex-direction: column;
        align-items: center;
        span {
          margin-left: 30px;
          margin-top: 20px;
          margin-bottom: 20px;

        }
      }
      svg {
        font-size: 2rem;
      }

      .sidebar__hr {
        width: 100%;
      }

      .sidebar__links {
        display: flex;
        // justify-content: center;
        align-items: center;
        span {
          // display: flex;
          // align-items: center;
          // justify-content: center;
          margin-left: 20px;
          font-weight: 700;
          // margin-right: 100px;
          width: 100%;
        }
        .sidebar__right-arrow {
        }
      }
      .sidebar__res-mode {   
        display: flex; 
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
      }
    }
    .sidebar__menu a {
      color: rgb(223, 219, 219);
      // padding: 0px 10px;
      padding: 10px 10px;
      text-decoration: none;
      display: block;
      transition: .9s;
    }
    .sidebar__menu a:hover {
      background-color: crimson;
      color: #fff;
      // display: block;
    }
    .sidebar__area:hover .sidebar__menu {
      display: block;
    }
  }
}

.submenu__container {
  // height: 70px;
  .submenu__bars {
    font-size: 30px;
    margin-top: 15px;
    // margin-left: 40px;
  }
  .submenu__logo {
    font-size: 40px;
    margin-top: 10px;
    // margin-left: -20px;
  }
}