.sidebar__container {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  background: #15171c;
  color: white;
  // padding: 0px;
  // margin: 0px;
  height: 70px;
  .sidebar__left-container {
    display: flex;
    align-items: center;
    // justify-content: center;
    height: 100%;
    .sidebar__bars-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      .sidebar__bars {
        font-size: 35px;
        margin-top: 15px;
      }
    }
    .sidebar__youtube-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .sidebar__youtube-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 50px;
        margin-top: 10px;
        margin-left: -20px;
      }
    }
  }
  
  .sidebar__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-right: 100px;
    .sidebar__area {
      position: relative;
      display: inline-block;
      // justify-content: center;
      // align-items: center;
      float: right;
    }
    .sidebar__profile-area {
      margin-right: 40px;
      cursor: pointer;
      // height: 100px;
    }
    .sidebar__menu {
      justify-content: center;
      align-items: center;
      display: none;
      position: absolute;
      background-color: #15171c;
      // height: 300px;
      // padding-top: 10px;
      padding: 10px;
      margin-left: -15px !important;
      // min-width: 150px;
      z-index: 100000;
      svg {
        font-size: 2rem;
      }
    }
    .sidebar__menu a {
      color: rgb(255, 255, 255);
      // padding: 0px 10px;
      padding: 10px 10px;
      text-decoration: none;
      display: block;
      transition: .9s;
    }
    .sidebar__menu a:hover {
      background-color: crimson;
      color: #fff;
    }
    .sidebar__area:hover .sidebar__menu {
      display: block;
    }
  }
}

.submenu__container {
  // height: 70px;
  .submenu__bars {
    font-size: 35px;
    margin-top: 15px;
    margin-left: 40px;
  }
  .submenu__logo {
    font-size: 50px;
    margin-top: 10px;
    // margin-left: -20px;
  }
}