.details {
  width: 100%;
  padding: 0px 0px;
    background-color: #181818;
  height: 100%;
  color: #fff;

  .details__header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0px;

    .details-header__fullname {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      font-size: clamp(22px, 1.5vw, 50px);
      margin: 10px 0px;

      p {
        font-weight: 500;
        padding: 0px;
        margin: 0px;
      }
    }

    .details__price {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d71345;
      width: 150px;
      padding: 5px 0px;
      margin: 10px 0px;

      h3 {
        font-weight: 400;
        font-size: clamp(22px, 1.5vw, 50px);
        margin: 10px 0px;
        padding: 0;
        color: white;
      }
    }
  }
  
  .box-details {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    
    .box-img {
      width: 50%;
      display: flex;
      height: 100%;
      flex-direction: column;

     .box-img-info {
       height:100%;
       .box-img-info-contents {

       }
     }

      .box-img-container {
        // height: 300px;
        width: 100%;
        min-width: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        video {
          width: 100%;
        }

        &:hover {
          // background-size: 200%;
          // border: 1px solid #ddd;
          // cursor: zoom-in;

        }

        img {}
      }

      .box-img__options-img {
    width: 100%;

        .box-img__img {
    width: 100%;

        }
      }
    }

    .box-specs-container {
      width: 50%;
      height: 100%;
      padding: 0px;
      margin: 0px;
      .box-specs-outer {
        // background-color: #d71345;
        .box-specs-items {

          display: flex;
          flex-direction: column;

          span:nth-child(1) {
            font-size: 1.1rem;
            padding-top: 10px;
          }

          span:nth-child(2) {
            margin-top: -8px;
            font-weight: 500;
            font-size: 1.7rem;
            letter-spacing: 2px;
            margin-bottom: -10px;
          }
        }
      }

    }

    .thumb {
      display: flex;
      cursor: pointer;
      align-items: center;
      flex-wrap: wrap;
      width: 70%;
      margin-top: 10px;
      img {
        display: block;
        object-fit: cover;
        margin: 1px;
        padding: 0;
        overflow: hidden;
      }
    }
  }
}



@media only screen and (max-width: 1000px) {
  .details {
    .details__header {
      display: flex;
      flex-direction: column;

      .details-header__fullname {}

      .details-header__price {
        p {
          // padding: 0px !important;
          // margin: 0px !important;

        }
      }
    }

    .box-details {
      flex-direction: column;
      .box-img {
        width: 100%;
        .box-img-container {
        }
      }

      .box-specs-container {
        // display: none;
        width: 100%;
        margin-top: 10px;

      }
    }
  }

}