.submenu__links {
  text-decoration: none;
  // font-size: 80px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 10px 0px;
  // margin: 40px 0px;
  // padding: 20px 0px;
  
  .submenu__container {
    padding: 10px;
    // margin-top: 10px;
    // margin-bottom: 10px;
    .submenu__icon {
      margin-left: 5px;
      font-size: 25px;
    }
    .submenu__title {
      margin-left: 25px;
      font-size: 20px;
    }
    // &:hover {
    //   background: #252831;
    //   border-left: 4px solid crimson;
    //   cursor: pointer;
    // }
    
  }
}

.submenu__dropdown {
    &:hover {
      background: #632ce4;
      cursor: pointer;
    }
}