.details-tab__container {
  // height: 100%;
  position: relative;

  .tabs-template__outer-container {
    // border-left: 1px solid #333333;
    padding: 0px 5px;
    margin: 0px 5px;
    margin-top: 49px;
    // height: 100%;

    .tabs-template__container {
      // padding: 0px 40px;

      .tabs-template__fullname {
        font-size: clamp(19px, 1.5vw, 20px);
        font-weight: 700;
      }

      .tabs-template__by {
        padding: 10px 0px;

        span:nth-child(1) {}

        span:nth-child(2) {
          color: #d71345;
          padding: 0px 5px;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .tabs-template__mileage {
        padding: 10px 0px;

        span:nth-child(1) {}

        span:nth-child(2) {
          padding: 0px 5px;
        }

        span:nth-child(3) {
          padding: 0px 5px;
        }
      }

      .details__mod-list {
        .details__mod-list-heading {
          font-size: 20px;
          font-weight: 700;
          padding: 20px 0px;
          margin-top: 30px;

          .details__mod-list-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;

          }
        }
      }

      .details__main-service {
        padding-bottom: 50px;

        .details__main-service-heading {
          font-size: 20px;
          font-weight: 700;
          padding: 20px 0px;
          margin-top: 30px;

        }
      }

      .details-about {
        border-top: 1px solid #e6e6e6;
        padding-top: 30px;
        color: #d71345;
        padding-bottom: 20px;
      }

    }


    .details__imported {
      .details__imported-heading {
        font-size: 20px;
        font-weight: bolder;
      }

      .details__imported-one {
        color: #d71345;
        cursor: pointer;
      }
    }

    .tabs-template__specs {
      flex-wrap: wrap;
      justify-content: center;


      p {
        border-bottom: 1px solid #d71345;
        padding: 0px 10px;
        background-color: #f9f9f9;
        font-weight: 700;
        font-size: 20px;

      }

      .tabs-template__specs-engine {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;
        // background-color: rgb(0, 140, 255);

        .tabs-template__specs-engine-container {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;

          .tabs-template__specs-engine-children {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;

            span:nth-child(1) {
              width: 200px;
              font-size: 11px;
            }

            span:nth-child(2) {
              font-size: 22px !important;
            }
          }
        }

      }

      .tabs-template__specs-body {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;

        // background-color: red;

        .tabs-template__specs-engine-container {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;

          .tabs-template__specs-engine-children {
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
            margin-left: 10px;

            span:nth-child(1) {
              width: 200px;
              font-size: 11px;
            }

            span:nth-child(2) {
              font-size: 22px !important;
            }
          }

        }

      }

      .tabs-template__specs-basic {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;


        // background-color: rgb(0, 255, 42);

        .tabs-template__specs-engine-container {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;

          .tabs-template__specs-engine-children {
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
            margin-left: 10px;

            span:nth-child(1) {
              width: 200px;
              font-size: 11px;
            }

            span:nth-child(2) {
              font-size: 22px !important;
            }
          }

        }

      }

      .tabs-template__specs-interior {
        width: 100%;
        height: 100%;
        padding-bottom: 20px;


        // background-color: rgb(119, 0, 255);

        .tabs-template__specs-engine-container {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;

          .tabs-template__specs-engine-children {
            // padding: 5px 10px;
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
            margin-left: 10px;

            span:nth-child(1) {
              width: 200px;
              font-size: 11px;
            }

            span:nth-child(2) {
              font-size: 22px !important;
            }
          }

        }

      }

    }
  }
}